.image {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  color: #000000;
  text-align: center;
  font-size: 2em;
  background-image: url("https://live.staticflickr.com/65535/51591268266_1c555c3727_b.jpg");

  .btn {
    text-align: center;
  }
}
