table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .title {
    text-align: center;
  }
  
  td, th {
    width: 25%;
  }

  .add-book{
  float: right;
  margin-right: 20px;
  }

  .search{
    width: 50%;
    margin-left: 20px;
  }