<h1 class="title">Ma liste de livre</h1>

<div class="books">
  <mat-form-field appearance="outline" class="search">
    <mat-label>Rechercher un livre</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Titre, Auteur, Année"
      #input
    />
  </mat-form-field>
  <button mat-fab extended class="add-book" (click)="displayAddBookDialog()">
    <mat-icon>add</mat-icon>
    Ajouter un livre
  </button>
  <table mat-table [dataSource]="dataSource()" matSort class="mat-elevation-z8">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Auteur</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Année</th>
      <td mat-cell *matCellDef="let book">{{ book.year }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Gestion de ma bibliothèque</th>
      <td mat-cell *matCellDef="let book">
        <button
          mat-icon-button
          (click)="displayUpdateBookDialog(book)"
          matTooltip="Modifier l'ouvrage"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteBook(book.id)"
          matTooltip="Supprimer l'ouvrage"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="displayBookDialog(book.id)"
          matTooltip="En savoir plus sur l'ouvrage"
        >
          <mat-icon>auto_stories</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      style="cursor: pointer"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
